@using Weather_Monitor.Models;
@model IEnumerable<WeatherData>

    <h2>Indoor data</h2>
<table class="table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temperature (C°)</th>
            <th>Humidity (%)</th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>@item.Date</td>
                <td>@item.InCelsius</td>
                <td>@item.Humidity</td>
                <td>
                    <a asp-page="CRUD/UpdateWeather" asp-route-id="@item.Id">Edit</a>
                    <a asp-page="CRUD/DeleteWeather" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>