@page
@model Weather_Monitor.Pages.Weather.IndexModel
@{
}
<div class="text-center">
    <h1>
        Measurements
    </h1>
<table class="table-bordered table-striped" style="width:100%">
    <thead >
        <tr>
                <th>Date</th>
                <th>Temperature inside (C°)</th>
                <th>Humidity (%)</th>
                <th>Temperature outside (C°)</th>
                <th>Atmospheric pressure (hPa)</th>
                <th>Rain (mm)</th>
                <th></th>
        </tr>
        
    </thead>
    <tbody>
        @foreach (var item in Model.weatherDatas)
        {

            <tr>
                <td>@item.Date</td>
                <td>@item.InCelsius</td>
                <td>@item.Humidity</td>
                <td>@item.OutCelsius</td>
                <td>@item.Pressure</td>
                <td>@item.Rain</td>
                <td>
                    <a asp-page="CRUD/UpdateWeather" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>